/* index.css */

body {
  font-family: 'Arial', sans-serif;
}

/* App Component Styles */

p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* AddItem Component Styles */

#add-item-form {
  margin-top: 20px;
}

/* Search Component Styles */

#search-form {
  margin-top: 20px;
}

label {
  margin-right: 10px;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

/* Transactions Component Styles */

#transaction-table {
  margin-top: 20px;
}

table {
  width: 80%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
